.image{
    width: 400px;
    height: 480px;
    overflow: hidden;
    margin-top: 30px;
  }
    .image img {
      width: 100%;
  }
  .model{
    margin-left: 80px;
    font-weight: 700;
  }
  .details{
      margin-top: 40px;
      margin-left: 40px;
  }