 {% extends 'base.html'%}


{% block content %}
  <div class="container" style="">

    <div class="" style="float:right;margin-top:120px;margin-right:40px;">
      <p style="font-size:30px;">Choose a Model Type</p>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <br>
          <br>
          <a href="{{url_for('main.male')}}" class="btn btn-lg" style="background-color:orange;color:white;font-family: 'Felipa', cursive;">Male</a>
          <br>
          <br>
          <br>
          <a href="" class="btn btn-lg" style="background-color:orange;color:white;font-family: 'Felipa', cursive;">Female</a>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div> -->
     <div class="">
      <div class="panel style="style="">
          <img src="https://images.pexels.com/photos/965467/pexels-photo-965467.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" height="600px" width="600px">

      </div>
    </div>
    <hr>

  </div>
{% endblock %}
