{% extends 'base.html'%}

{% block content %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock%}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="image">
        <img src="static/images/index1.jpeg" alt="model-image"></img>
      </div>
    </div>
    <div class="col-md-6">

      <div id="first">
        <h4 class="intro">Welcome to Book-a-Model</h4>
      </div>

      <div id="two">
        <h5>Login to your account and book our models for commercial use</h5>
      </div>

      <div class="button">
        <a href="{{url_for('auth.register')}}"><button type="button" class="button button-signup">Sign Up</button></a>
        {% if current_user.is_authenticated %}
        <a href="{{url_for('main.categories')}}"><button type="button" class="button button-categories">View Categories</button></a>
        {% else %}

        {%endif%}
      </div>

    </div>
  </div>
</div>

{% endblock%}
