
<div class="container">
  <img src="https://images.pexels.com/photos/1405963/pexels-photo-1405963.jpeg?cs=srgb&dl=adult-business-contemporary-1405963.jpg&fm=jp" alt="" class="image" style="width:400px;float:right;margin-left:100px;">
  <div class="middle">
    <a href="{{url_for('main.profile')}}" class="btn btn-lg" style="background-color:orange;color:white;font-family: 'Felipa', cursive;float:right;">View profile</a>


  </div>
</div>
<div class="container">
<img src="https://s-media-cache-ak0.pinimg.com/originals/db/77/80/db778069430b3b9a012ae53270228d5d.jpg" alt="" class="image" style="width:400px;float:right;margin-left:100px;">
<div class="middle">
  <div class="text">Booked</div>
</div>
</div>
<div class="container">
  <img src="https://images.pexels.com/photos/1917754/pexels-photo-1917754.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="image" style="width:400px;float:right;margin-left:100px;">
  <div class="middle">
  </div>
</div>
