<head>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<div class="carousel">
    <a class="carousel-item" href="#one!" style="height"><img src="https://images.pexels.com/photos/1405963/pexels-photo-1405963.jpeg?cs=srgb&dl=adult-business-contemporary-1405963.jpg&fm=jpg"></a>
    <a href="" class="btn btn-lg" style="background-color:orange;color:white;font-family: 'Felipa', cursive;">view profile</a>
    <a class="carousel-item" href="#two!"><img src="https://s-media-cache-ak0.pinimg.com/originals/db/77/80/db778069430b3b9a012ae53270228d5d.jpg">view profile</a>
    <a class="carousel-item" href="#three!"><img src="https://images.pexels.com/photos/1468379/pexels-photo-1468379.jpeg?cs=srgb&dl=beautiful-cute-daylight-1468379.jpg&fm=jpg">view profile</a>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems, options);
  });
  </script
